doctype
html
  head
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic")
    link(rel="stylesheet" href="/stylesheets/main.css")
    title= title
    meta(name="description" content=description)
  body
  .wrapper
    header
      div.exupery 
        canvas(id="blivet" width=400 height=240)
        h1 
          a(href="/") James Zetlen
      section.statement= description
      nav(class="treachery #{ current.path[0] !== 'index' ? 'smaller' : '' }")
        ul
          li
            a.about(href="/about")
              span About
              canvas(id="orbison" width=300 height=300)
          li
            a.code(href="https://github.com/zetlen")
              span Code
              canvas(id="muller-lyer" width=300 height=300)
          li
            a.writing(href="https://medium.com/@zetlen")
              span Writing
              canvas(id="sander" width=300 height=300)
          li
            a.resume(href="https://www.linkedin.com/in/zetlen/en")
              span Work
              canvas(id="rhombille" width=300 height=300)
    != yield

footer.
  All rights barely understood. &copy; 2015 James Zetlen.
if environment === "production"
  script(src="/scripts/all.min.js")
else
  script(src="/scripts/all.js")