doctype
html
  head
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic")
    link(rel="stylesheet" href="/stylesheets/main.css")
    title= title
    meta(name="description" content=description)
  body
  .wrapper
    != yield

footer.
  All rights barely understood. &copy; 2015 James Zetlen.
if environment === "production"
  script(src="/scripts/all.min.js")
else
  script(src="/scripts/all.js")
