!= partial("../_header", { headerSize: "smaller" })
p
  | I like toolmaking. If you ask me to make a website, I'll probably make a website generator. The fun starts when you ask me to make a website generator.
  | Unlike a lot of other frontend developers, I didn't find my way here through visual design. I'm more of a verbal person, so I'm good at:
ul
  li designing semantic, clear APIs in JavaScript
  li writing documentation, and helping other people
  li making tools that other people can use regardless of their skill levels
  li and writing code that sacrifices nothing in performance, sane architecture, and scalability, while remaining accessible and readable by other people.
p I'm working as a software architect at Volusion, which is both challenging and exciting. 
:markdown
  I devote a lot of time to the rapidly-growing community of Mozu users, so I'm not really available for freelance work. I do offer pithy advice via [email](mailto:zetlen@gmail.com) and [GitHub](https://github.com/zetlen).

section.suspects
  h2 Employers
  ul.usual-suspects
    li.suspect
      .suspect-header
        a.thumb(href="http://mozu.com")
          img(src="mozu.png")
        h3
          a(href="http://mozu.com") Mozu
        h4 2012-2015
      p Mozu is the next-generation eCommerce platform from Volusion, built on microservices and modern Web technologies. I was the first engineer on the Mozu project; I collaborated on a lot of initial, fundamental technology choices. I ended up the architect in charge of the theme engine and frontend developer experience. In this capacity I:
      ul
        li developed large portions of the adminstrative app
        li designed the #[strong Hypr Live] template system, which allows reuse of the same templates on the server and the client
        li created the Mozu Core Theme, a "starting point" theme which inlined best practices, instructional code, and several single-page shopping apps into one extensible package
        li made build tools and a package ecosystem for theme developers
        li wrote two SDKs--one for browsers and one for NodeJS--to integrate with the Mozu layer of RESTful web services.
        li was a core developer for the Arc.js JavaScript-based open actions framework, designing APIs and writing scaffolding and sync tools in Node
      p The Mozu Core Theme is still my most publicly prominent contribution. The Core theme is an inheritable starting point for Mozu sites, and because of its versatility and the conventions we established around it, it is the HTML, CSS, and JavaScript code base from which all of these public Mozu clients have built their sites:
      ul.mozu-sites
         li #[a(href="http://www.goruck.com") #[img(src="goruck-logo-lg.png" alt="GORUCK" title="GORUCK")]]
         li #[a(href="http://jellybelly.com") #[img(src="Jelly_Belly_logo.png" alt="Jelly Belly" title="Jelly Belly")]]
         li #[a(href="http://www.sigmabeauty.com") #[img(src="sigma-beauty-logo.png" alt="Sigma Beauty" title="Sigma Beauty")]]
         li #[a(href="http://www.factoryotc.com") #[img(src="factoryotc-logo.png" alt="FactoryOTC" title="FactoryOTC")]]
         li #[a(href="http://www.gouletpens.com") #[img(src="goulet-pens-logo.png" alt="Goulet Pens" title="Goulet Pens")]]
         li #[a(href="http://shop.danijohnson.com/") #[img(src="danijohnson-logo.png" alt="Dani Johnson" title="Dani Johnson")]]
         li #[a(href="http://seismicaudiospeakers.com/") #[img(src="seismic-logo-165.png" alt="Seismic Audio" title="Seismic Audio")]]

       p Mozu themes are infinitely customizable and I cannot take credit for the visual identities of any of these sites; my specialty was the framework code, that powers the dynamic shopping and ordering interactions. All of these sites, and more, run on my basic commerce frontend system.
    
    li.suspect
      .suspect-header
        a.thumb(href="http://volusion.com")
          img(src="logo-volusion.png")
        h3
          a(href="http://volusion.com") Volusion
        h4 2011-2012
      :markdown
        I started at Volusion in 2011, when there were very few specialized frontend developers in the engineering department. I helped to:
         - overhaul our approach to frontend development
         - properly separate our concerns
         - introduce modern JavaScript practices to the team
         - and organize our codebase into reusable components. 
        Before leaving the flagship product team to work on Mozu full-time, I led the project to reskin the administrative control panel for the V13 release. I cleaned up a VBScript codebase and replaced repetitive CSS files with the [Less CSS preprocessor](http://lesscss.org/).
    
    li.suspect
      .suspect-header
        a.thumb(href="http:convio.com")
          img(src="convio.jpg")
        h3
          a(href="http://convio.com") Convio
        h4 2007-2010
      :markdown
        At Convio I was a technical architect in charge of:
         - deploying the Convio SaaS platform for national and international nonprofit organizations
         - collaborating with nonprofit clients on large-scale projects to meet tight deadlines
         - designing our first social networking integrations
         - and pioneering the use of dynamic UIs in donation forms. 
        *Convio has since been acquired by Blackbaud.

section.suspects
  h2 Related Projects
  ul.usual-suspects
    li.suspect
      h3
        a(href="https://github.com/zetlen/jort") jort
      :markdown
        A Node testing helper that creates ephemeral local HTTP servers that deliver a single payload, or a sequence of preconfigured payloads, and then disappear. Built for testing the Mozu Node SDK, jort seemed to be useful enough to document, assign a charismatic name, and release. It seems to be finding some purchase amongst other SDK developers, and other types writing HTTP clients whose URLs come in from configuration.
    li.suspect
      h3
        a(href="http://zetlen.github.io/all-other-things-being-equal") all-other-things-being-equal
      :markdown
        An extremely useful Node assertions pack that helps remind you of [some important things about making software that uses networks.](https://en.wikipedia.org/wiki/Fallacies_of_distributed_computing) *Classic Zetlen.*
    li.suspect
      h3
        a(href="http://zetlen.github.com/mozu-syndicator") Mozu Syndicator
      :markdown
        A proof of concept for an exciting usage of the new Arc.js functionality on the Mozu platform that I helped to create. This script package can be installed on a Mozu tenant, and adds a "syndicator library" that allows you to embed live Mozu content (such as products or search results) into non-Mozu sites, using the Hypr template language right on the page. It uses an asynchronous, copy-and-paste code snippet similar to the widget systems used by Facebook and Twitter.
    li.suspect
      h3
        a(href="https://github.com/zetlen/fenestrate") fenestrate
      :markdown
        A Node utility for Windows users, who are plagued with a [strong disagreement between the NPM package resolution strategy and the Windows userland utilities.](https://github.com/joyent/node/issues/6960) It's basically a superpowered `npm dedupe`; it aggressively flattens the package hierarchy in an attempt to give you more headroom on Windows.
    li.suspect
      h3
        a(href="https://github.com/zetlen/require-shim") require-shim
      p A dynamic AMD shimming plugin for RequireJS, written before the builtin config-based shim was compatible with the r.js compiler. It allowed you to describe the shim--requirements, arguments, and exports--at runtime, and build the shim into compiled assets.
    li.suspect
      h3
        a(href="http://zetlen.github.io/vpkr/") vpkr
      :markdown
        A widget I made for an overhaul of the Volusion administrative UI. Capable of selecting large amounts of nested data in a small space. Think of it as the [tiny house](https://www.google.com/search?q=tiny+house) of form controls.
    li.suspect
      h3
        a(href="http://patents.justia.com/patent/8522134") Patents
      p.
        My name is on at least one software patent submitted by Volusion. I'm ambivalent about the utility of software patents in general, but this one was a good idea.

section.suspects
  h2 Unrelated Projects
  ul.usual-suspects
    li.suspect
      h3
        a(href="http://github.com/zetlen/samoan-garden") samoan garden
      p.
        A Node utility for generating anagrams of phrases, as the name should make obvious.
    li.suspect
      h3
        a(href="http://synesthesia.jameszetlen.com") synesthesia
      p.
        A little toy that displays the color values of words and names whose characters resemble six-character hex codes, like #BADA55 or #FACADE. Now with Wikipedia article titles as well as dictionary words.
    li.suspect
      h3
        a(href="http://tapes.jameszetlen.com") tapes
      p.
        A mixtape generator using Yeoman, Assemble, Grunt, and a complex SVG-powered animation that replicates the motion of tape wheels as closely as possible. I'm a musician and constant seeker of new music. This was a labor of love that didn't feel laborious. The directory is full of mixtapes I've made over the years.
    li.suspect
      h3
        a(href="https://zetlen.github.io/ttrraannssffoorrmmss") ttrraannssffoorrmmss
      p.
        An art project to create the most useless DOM manipulation library possible, with the most obtuse API imaginable, the most impossible installation conceivable, and bad instructions.
    li.suspect
      h3
        a(href="http://sorryeverybody.com") Sorry Everybody
      p.
        Ten years ago I accidentally went viral by posting a half-ironic picture on the Internet after the 2004 re-election of George Bush. It got a fair bit of news coverage, including some quotes from 20-year-old me that I still cringe upon hearing. To be clear, I have no problem with my youthful idealism: it was my youthful simulation of cynicism and savvy that I can't stand to think about now. Anyway, there are a lot of adorable pictures on this site still.
    li.suspect
      h3
        a(href="http://diplomaticshark.com") DIPLOMATIC SHARK
      p.
        My first website, ca. 2003 and redesigned exactly zero times. DIPLOMATIC SHARK WANTS US TO SIGN THE TREATY.

section.suspects
  h2 Not code
  ul.usual-suspects
    li.suspect
      h3
        a(href="http://soundcloud.com/earyear") soundcloud
      p.
        In 2012 I tried to make a minute of music every day. I didn't get very far, but I learned a lot.
    li.suspect
      h3
        a(href="http://dreamfather.com/xanadont") xanadont
      p.
        I started a band in 2008. We broke up because of grad school and marriage and the like, but we recorded one super fun demo in a studio in east Austin.
